body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#nav {
    width: 100%;
    list-style: none;
    display: flex;
    background-color: red;
}

td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
}